<h2>Show contact</h2>

<dl class="dl-horizontal">
  <dt>Id</dt>
  <dd>{{contact.id}}</dd>

  <dt>First name</dt>
  <dd>{{contact.firstName}}</dd>

  <dt>Last name</dt>
  <dd>{{contact.lastName}}</dd>

  <dt>Email</dt>
  <dd>{{contact.email}}</dd>

  <dt>Phone</dt>
  <dd>{{contact.phone}}</dd>

  <dt>Favourite</dt>
  <dd>{{contact.favourite | checkmark}}</dd>

  <dt>Created At</dt>
  <dd>{{contact.createdAt | date:'medium'}}</dd>

  <dt>Updated At</dt>
  <dd>{{contact.updatedAt | date:'medium'}}</dd>
</dl>

<dl class="dl-horizontal" *ngIf="contact.hasAddress()">
  <dt>Street</dt>
  <dd>{{contact.address.street}}</dd>

  <dt>Town</dt>
  <dd>{{contact.address.town}}</dd>

  <dt>Zip code</dt>
  <dd>{{contact.address.zipCode}}</dd>

  <span *ngIf="contact.address.countryCode">
    <dt>Country</dt>
    <dd>
      {{contact.address.countryCode | countryName}}
      ({{contact.address.countryCode}})
    </dd>
  </span>
</dl>

<a [routerLink]="['./edit']">Edit</a>
