<div class="modal-header">
  <h4 class="modal-title">Login form</h4>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <span>&times;</span>
  </button>
</div>

<form [formGroup]="loginForm">
  <div class="modal-body">
    <div class="form-group" [ngClass]="{ 'has-danger': authenticationError$ | async }">
      <label class="form-control-label" for="login-field">Login</label>
      <input type="text" formControlName="login"
             class="form-control" id="login-field" placeholder="admin" />
    </div>

    <div class="form-group" [ngClass]="{ 'has-danger': authenticationError$ | async }">
      <label class="form-control-label" for="password-field">Password</label>
      <input type="password" formControlName="password"
             class="form-control" id="password-field" placeholder="password" />

      <div class="form-control-feedback" *ngIf="authenticationError$ | async">
        Invalid login or password!
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success"
            [disabled]="loginForm.invalid || (authenticationPending$ | async)"
            (click)="login()">
      <span *ngIf="!(authenticationPending$ | async)">Login</span>
      <span *ngIf="authenticationPending$ | async">Logging in...</span>
    </button>
  </div>
</form>
