<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" routerLink="/">Angular Sandbox</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/">Home</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contacts">Contacts</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/sandbox">Sandbox</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">

      <li class="nav-item" *ngIf="!(isAuthenticated$ | async)">
        <a class="nav-link" href="javascript:;" (click)="login()">
          Login
        </a>
      </li>

      <li class="nav-item" *ngIf="isAuthenticated$ | async">
        <a class="nav-link" href="javascript:;" (click)="logout()">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
